<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlm.dao.MemuMapper">
  <resultMap id="BaseResultMap" type="com.wlm.pojo.Memu">
    <id column="memuid" jdbcType="INTEGER" property="memuid" />
    <result column="subid" jdbcType="INTEGER" property="subid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="memu_role" jdbcType="INTEGER" property="memuRole" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    memuid, subid, title, url, memu_role, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from memu
    where memuid = #{memuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from memu
    where memuid = #{memuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wlm.pojo.Memu">
    insert into memu (memuid, subid, title, 
      url, memu_role, create_time, 
      update_time)
    values (#{memuid,jdbcType=INTEGER}, #{subid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{memuRole,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wlm.pojo.Memu">
    insert into memu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memuid != null">
        memuid,
      </if>
      <if test="subid != null">
        subid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="memuRole != null">
        memu_role,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memuid != null">
        #{memuid,jdbcType=INTEGER},
      </if>
      <if test="subid != null">
        #{subid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="memuRole != null">
        #{memuRole,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wlm.pojo.Memu">
    update memu
    <set>
      <if test="subid != null">
        subid = #{subid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="memuRole != null">
        memu_role = #{memuRole,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where memuid = #{memuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wlm.pojo.Memu">
    update memu
    set subid = #{subid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      memu_role = #{memuRole,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where memuid = #{memuid,jdbcType=INTEGER}
  </update>
</mapper>